aniso8601==8.0.0
cffi==1.14.3
click==7.1.2
cryptography==3.2.1
Flask==1.1.2
Flask-RESTful==0.3.8
geomet==0.2.1.post1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pycparser==2.20
pymongo==3.11.0
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.4
redis==3.5.3
six==1.15.0
thrift==0.13.0
Werkzeug==1.0.1
